/*button stylings .aeH*/
#\:5{
	height: 66px !important;/*48+18*/
}
/*buttons*/
.T-I.J-J5-Ji.T-I-ax7,.T-I.J-J5-Ji.T-I-ax7:hover,.T-I.J-J5-Ji.T-I-ax7:active
{
	background-image:linear-gradient(to bottom,#F5F5F5,#F0F0F0) !important;
	border-radius:2px !important;
	height:18px !important;
	padding:10px !important;
	border:1px solid #BBBBBB !important;
}
#itamenu{
	background-image:linear-gradient(to bottom,#F5F5F5,#F0F0F0) !important;
	border-radius:2px !important;
	height:18px !important;
	padding:10px 0 !important;
}
/*... to more*/
.asa.bjy{
	margin: 0 !important;
	line-height:40px !important;
	color: #363636 !important;
	font-size: 16px !important;
}
.asa.bjy::after{
	content:none !important;
}
.nf>.G-asx{
	display:inline-block !important;
}
/*chevrons*/
.Di{
	padding:10px !important;
}
.T-I.J-J5-Ji.adg.T-I-awG.T-I-ax7.T-I-Js-IF.L3,.T-I.J-J5-Ji.adg.T-I-awG.T-I-ax7.T-I-Js-Gs.L3{
	background-image:linear-gradient(to bottom,#F5F5F5,#F0F0F0) !important;
	border-radius:2px !important;
	height:18px !important;
	padding:10px  !important;
	border:1px solid #BBBBBB !important;
}
/*button icons*/
.adj,.amI{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/chevron_left_black_20dp.png') !important;
}
.adk, .amJ{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/chevron_right_black_20dp.png') !important;
}
.G-tF .T-Jo{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/check_box_outline_blank_black_20dp.png') !important;
}
.bjy::after{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/more_vert_black_20dp.png') !important;
}
.aos{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/settings_black_20dp.png') !important;
}
.asf{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/refresh_black_20dp.png') !important;
}
.G-tF .T-Jo-Jp{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/check_box_black_20dp.png') !important;
}
.G-asx, .d-Na-J3.d-Na-JX-ax3.d-Na-hFsbo{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_black_20dp.png') !important;
}
.ar8{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/archive_black_20dp.png') !important;
}
.asl{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/report_black_20dp.png') !important;
}
.ar9{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/delete_black_20dp.png') !important;
}
.bAP{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/mark_as_unread_black_20dp.png') !important;
}
.bAO{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/drafts_black_20dp.png') !important;
}
.brW{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/watch_later_black_20dp.png') !important;
}
.ase{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/drive_file_move_black_20dp.png') !important;
}
.asb{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/label_black_20dp.png') !important;
}
.baO{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/drafts_black_20dp.png') !important;
}
.ar6{
	background-image:url('https://www.gstatic.com/images/icons/material/system/1x/arrow_back_black_20dp.png') !important;
}